<h1>Trending Values</h2>
<p>The results are selected to have an overall rank >= 90%, and then ordered by Momentum (Performance Half Year).</p>
<p>The first 25 stocks should represent the trending value portfolio.</p>
<form ng-submit="search()">
	<input type="text" ng-model="stockTicker" placeholder="search a stock" />
	<input type="submit" value="Search" />
</form>
<table class="table-striped">
    <thead>
		<tr>
			<th>Overall Rank</th>
			<th>Momentum</th>
			<th>Ticker</th>
			<th>Company</th>
			<th>Market Cap</th>
			<th>P/E</th>
			<th>P/S</th>
			<th>P/B</th>
			<th>PFreeCashFlow</th>
			<th>Dividend Yield</th>
			<th>Price</th>
			<th>EV/EBITDA</th>
			<th>Buyback</th>
			<th>Rank</th>
		</tr>
    </thead>
    <tbody>
        <tr ng-repeat="stock in stocks">
            <td>{{stock.OVRRank}}</td>
            <td>{{stock.PerformanceHalfYear}}</td>
            <td><a href="#/snapshots/{{stock.snapshot}}/stocks/{{stock.Ticker}}">{{stock.Ticker}}</a>
                (<a href="http://finviz.com/quote.ashx?t={{stock.Ticker}}&ty=c&ta=1&p=d&b=1">Finviz</a>)</td>
            <td>{{stock.Company}}</td>
            <td>{{stock.MarketCap}}</td>
            <td>{{stock.PE}}</td>
            <td>{{stock.PS}}</td>
            <td>{{stock.PB}}</td>
            <td>{{stock.PFreeCashFlow}}</td>
            <td>{{stock.DividendYield}}</td>
            <td>{{stock.Price}}</td>
            <td>{{stock.EVEBITDA}} (<a href="http://finance.yahoo.com/q/ks?s={{stock.Ticker}}">Yahoo</a>)</td>
            <td>{{stock.BB}} (<a href="http://finance.yahoo.com/q/cf?s={{stock.Ticker}}">Yahoo</a>)</td>
            <td>{{stock.Rank}}</td>
        </tr>
    </tbody>
</table>
<h2>Disclaimer</h2>
<p>The contents of this site come with ABSOLUTELY NO WARRANTY.</p>
<p>The code is alpha and has not been reviewed yet. The values could be wrong.</p>
<p>Values of 1000000000.00 and 1000000001.00 are placeholders.</p>
<p>For any request, comment or advise <a href="http://nmr.io/contact/">contact</a> me.</p>
